/* Selettore generale*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    width: 1000px;
    margin: auto;
}

header{
    background-color: yellow;
    height: 175px;
    margin-top: 25px;
    margin-bottom: 10px;
}

/* Applicazione Clearfix sulla classe .container*/
.container::after{
    content: "";
    display:table;
    clear: both;
}

aside{
    background-color: #cc87da;
    width: 300px;
}

aside.left{
    height: 300px;
    float:left;
}

main{
    background-color: purple;
    height: 385px;
    width: calc(385px - 15px);
    margin: 0 15px;
    float: left;
}

aside.right{
    float: right;
    height: 175px;
}

aside.bot{
    margin-top: 15px;
}


footer{
    margin-top: 10px;
    background-color: lightblue;
    height: 65px;
}
